{% extends "base.html" %}

{% block content %}
<h1>Добавить книгу</h1>
<form method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.name.label }}<br>
        {{ form.name }}<br>
        {% for error in form.name.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        {{ form.link.label }}<br>
        {{ form.link }}<br>
        {% for error in form.link.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        {{ form.genre.label }}<br>
        {{ form.genre }}<br>
        {% for error in form.genre.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        {{ form.review.label }}<br>
        {{ form.review }}<br>
        {% for error in form.review.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}